/* CSS declarations go here */
body {
  font-family:sans-serif;
}
.container {
  width:1000px;
  margin:0 auto;
}
#nav {
  background:#fff;
  position:relative;
}
#nav-links {
  display: block;
list-style-type: disc;
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}
li.link, .link a {
  color:green;
  list-style:none;
  text-decoration:none;
  display:inline;
}
#logo, #nav-links, #userMenu {
  position:relative;
}
#userMenu {
  right:50px;
  background:#e8e8e8;
  padding:5px;
}
